one hot encoding 
create new column foreach category and assign binary value

In [3]:
import pandas as pd
df = pd.read_csv("homeprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [4]:
#create dummy variable columns 
dummy=pd.get_dummies(df.town)

In [5]:
merged=pd.concat([df,dummy],axis='columns')
merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000             True        False         False
1   monroe township  3000  565000             True        False         False
2   monroe township  3200  610000             True        False         False
3   monroe township  3600  680000             True        False         False
4   monroe township  4000  725000             True        False         False
5      west windsor  2600  585000            False        False          True
6      west windsor  2800  615000            False        False          True
7      west windsor  3300  650000            False        False          True
8      west windsor  3600  710000            False        False          True
9       robinsville  2600  575000            False         True         False
10      robinsville  2900  600000            False         True         False
11      robinsville  3100  620000            False         True         False
12      robinsville  3600  695000            False         True         False

In [4]:
#drop one of dummy variable column 
#when one variable is derived from rest of the variable ,it is called multi colinear 
# it creates problem of dummy variable trap

In [5]:
final=merged.drop(['town','west windsor'],axis='columns')

In [1]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [ ]:
x=final.drop('price',axis='columns')

In [ ]:
x

In [ ]:
y=final.price

In [ ]:
y

In [ ]:
model.fit(x,y)

In [ ]:
#predict for robinsville 
model.predict([[2800,0,	1]])

In [ ]:
#for west windsor 
model.predict([[2800,0,	0]])

In [ ]:
model.score(x,y)

In [ ]:
df

 Label encoding on town column

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [ ]:
dfle=df
# takes label column as input and retrun labels
dfle.town=le.fit_transform(dfle.town)